@import url('https://fonts.googleapis.com/css?family=Fresca&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fresca', sans-serif;
}

body button {
  font-family: 'Fresca', sans-serif;
}



.Homepage-logo {
  height: 30vmin;
  pointer-events: none;
  margin-bottom: 20px;
}

.Homepage {
  background-color: #fcfcfc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}


.Homepage .container{
  display: grid;
  grid-template-columns: 50% 50%;
}

.Homepage .container .left img{
 
  max-width: 300px;
  height: 40vmin;
  width: 45vmin;
}

.Homepage .container .right p{
  margin-left: 20px;
  width: 100%;
  max-width: 200px;
  text-align: left;
  padding-left: 40px;
}

.Homepage .container .right button{
  margin-left: 20px;
  padding: 20px;
  margin-top: 20px;
  background-color: #49BA37;
  font-size: 8vmin; 
  text-transform: uppercase;
  color: #fff;
  border-color: transparent;
  height: 15vmin;
  width: 25vmin;
}

 button:hover{
  cursor: pointer;
}

.Homepage {
  text-align: center;
}

.saveButton{
  padding: 15px;
  background-color: #49BA37;
  font-size: 1.5rem;  
  text-transform: uppercase;
  color: #fff;
  border-color: transparent;
  float: right;
  margin-top: 20px;
}

.backButton{
  padding: 15px;
  background-color: lightblue;
  font-size: 1.5rem;  
  text-transform: uppercase;
  color: black;
  border-color: transparent;
  float: left;
  margin-top: 20px;
  outline: none;    
}

.deleteButton{
  padding: 15px;
  background-color: rgb(228, 13, 13);
  font-size: 1.5rem;  
  text-transform: uppercase;
  color: white;
  border-color: transparent;
  float: left;
  margin-top: 20px;
  outline: none;    
}

.MenuToggle {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: lightblue;
  border-radius: 3px;
  z-index: 1;  
}

.ql-editor{
  min-height: 150px;
}

