@import url('https://fonts.googleapis.com/css?family=Fresca&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fresca', sans-serif;
}

body button {
  font-family: 'Fresca', sans-serif;
}

.App {
  text-align: center;
}

.Homepage-logo {
  height: 30vmin;
  pointer-events: none;
  margin-bottom: 20px;
}

.Homepage {
  background-color: #fcfcfc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}


.Homepage .container{
  display: grid;
  grid-template-columns: 50% 50%;
}

.Homepage .container .left img{
 
  max-width: 300px;
  height: 40vmin;
  width: 45vmin;
}

.Homepage .container .right p{
  width: 100%;
  max-width: 200px;
  text-align: left;
  padding-left: 50px;
}

.Homepage .container .right button{
  padding: 20px;
  background-color: #49BA37;
  font-size: 8vmin; 
  text-transform: uppercase;
  color: #fff;
  border-color: transparent;
  height: 15vmin;
  width: 25vmin;
}

 button:hover{
  cursor: pointer;
}

.AddActivity {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.AddActivity  button{
  padding: 20px;
  background-color: #49BA37;
  font-size: 2rem;  
  text-transform: uppercase;
  color: #fff;
  border-color: transparent;
}

.AddActivity textarea {
  padding-bottom: 40px;
  margin-bottom: 30px;
}

.AddActivity button, .AddActivity textarea, .AddActivity input, .AddActivity h2 {
  display: block;
}

.MenuToggle {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: lightblue;
  border-radius: 3px;
  z-index: 1;  
}